<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta http-equiv="refresh" content="10; url=https://www.mercadolivre.com.br/">
    <title>Mecado Livre Brasil - Frete Grátis</title>
</head>
<body style="background-color: #fff159;">
    <br /><br /><br /><br />
    <h3 style="margin-top: 40px; text-align: center; color: #444; font-family: Verdana"> 
        Aguarde, estamos carregando varias promoções especialmente para você! 
    </h3>
    <img style="display: block; margin-top: 40px; margin-left: auto; margin-right: auto" id="logo" src="../static/img/logo.gif">
</body>
</html>